////////////
// Guitar //
////////////

@fretboard-color: #333;
@fret-color: #f1f1f1;
@fret-size: 4px;
@neck-height: 200px;
@dot-color: #fff;
@dot-size: 14px;
@dot-offset: 30px;
@string-color: #eee;
@string-max-size: 5px;
@fret-active-color: rgba(255, 209, 111, 0.64);

.fret( @i ) when( @i = 24 ){}

.fret( @i ) when( @i < 24 ){
  & + .fret {
    flex: ( (-1/24 * @i) + 1 ) 1 auto;
    .fret( @i + 1 );
  }
}

.dot(){
  content: "";
  position: absolute;
  top: @dot-offset;
  left: 50%;
  margin-left: -( @dot-size / 2 );
  width: @dot-size;
  height: @dot-size;
  border-radius: 2 * @dot-size;
  background: @dot-color;

  @media ( max-width: 400px ){
    & {
      width: @dot-size / 2;
      height: @dot-size / 2;
      top: @dot-offset / 2;
    }
  }
}

.string( @i ) when ( @i = 6 ){}
.string( @i ) when ( @i < 6 ){
  & + .string {
    height: (-1/2 * @i ) + @string-max-size - 1;
    .string( @i + 1 );
  }
}

.guitar {
  height: @neck-height;
  .transform( scaleX(-1) );

  @media ( max-width: 400px ){
    & {
      height: @neck-height / 2;
    }
  }
}

.guitar .notes,
.guitar .strings,
.guitar .fretboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.guitar .notes {
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.notes > .string {
  display: flex;
  height: @string-max-size;
  margin: auto 0;
}

.notes > .string > .fret {
  @fret-padding: 12px;
  height: @string-max-size;
  padding: @fret-padding 0;
  margin-top: -( @string-max-size / 2 ) - ( @fret-padding / 2 );
  cursor: pointer;
  border-left: solid rgba(0, 0, 0, 0) @fret-size;
  border-radius: 10px;

  &.active,
  &:hover {
    background: @fret-active-color;
  }
}

.notes > .string > .fret:first-child {
  flex: 1 1 auto;
  .fret( 1 );
}

.guitar .strings {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.strings > .string {
  width: 100%;
  margin: auto 0;
  background: @string-color;
  opacity: 0.99;
  border: dotted 1px rgba( 0, 0, 0, 0.12 );
  box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.5 );
}

.strings > .string:first-child {
  height: @string-max-size;
  .string(1);
}

.guitar .fretboard {
  display: flex;
  background: @fretboard-color;
  border-top: solid #5F3F1B 1px;
  border-bottom: solid #5F3F1B 1px;
}

.fretboard > .fret {
  flex: 1 1 auto;
  border-top: solid 5px #FFF;
  border-bottom: solid 5px #FFF;
  border-left: solid @fret-size @fret-color;

  @media ( max-width: 400px ){
    & {
      border-left-width: @fret-size / 2;
      border-top-width: 3px;
    }
  }
}


.fretboard > .fret:first-child {
  border-left-color: #fff;
  .fret( 1 );
}

.fretboard > .fret:nth-child( 3 ):before,
.fretboard > .fret:nth-child( 5 ):before,
.fretboard > .fret:nth-child( 7 ):before,
.fretboard > .fret:nth-child( 9 ):before,
.fretboard > .fret:nth-child( 12 ):before,
.fretboard > .fret:nth-child( 15 ):before {
  .dot();
}

.fretboard > .fret:nth-child( 12 ):after {
  .dot();
  top: auto;
  bottom: @dot-offset;
  @media ( max-width: 400px ){
    & {
      top: auto;
      bottom: @dot-offset / 2;
    }
  }
}