////////////
// Header //
////////////

.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 12px;
  .frosty-panel();
  .frosty-panel-top();
  .standard-padding();
  .form-group();

  // So the blurred bg does not go on top
  & > * { position: relative; z-index: 2; }

  -webkit-app-region: drag;

  & button, & input, & a, & select, & .selectricWrapper {
    -webkit-app-region: no-drag;
  }
}

.app-settings {
  .form-group();

  [name="tempo"] {
    width: 64px;
  }

  [name="play"] {
    #btn > .primary();
  }
}

.header .action-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 120px;
  text-align: right;
}